{% extends "layout2.html" %}

{% block content %}
<section class="page-header page-header__dark" style="background-image: url(/static/assets/images/background/probabilistico-bg.jpg);">
  <div class="container">
      <h2>Promedio Móvil</h2>
      <ul class="list-unstyled thm-breadcrumb">
          <li><a href="{{ url_for('index2') }}">Métodos Pronóstico</a></li>
          <li><span>Promedio Móvil</span></li>
      </ul><!-- /.list-unstyled -->
  </div><!-- /.container -->
</section><!-- /.page-header -->
<section class="living-option-one">
  <div class="container">
    <div class="mb-4">
      <div class="tab-pane animated fadeInUp fade show">
        <div class="row">
          <div class="col-lg-6">
            <form method=post action="">
              {% for field in form %}
                <div class="form-group">
                  <label for="exampleInputEmail1">{{ field.label }}</label>
                  {{ field }}
                </div>
              {% endfor %}
              <button type="submit" class="btn btn-success btn-block">Calcular</button>
            </form>
          </div>
          <div class="col-lg-6">
            <div class="living-option-one__content">
              <p>

                Para sacar el promedio movil usamos la siguiente fómrula:
                \[ F_{t} = { D_{t-1} + D_{t-2} + D_{t-3} + D_{t-n} \over n } \]
                Donde \(F_{t}\) es el pronóstico del siguiente periodo, \(D_{t}\) valor observado en el periodo \(t\) y \(n\) el
                número de periodos
                a considerar
                \[\]
                {% if N != None %}
                En este caso son promedios de \(3\) y \(4\), con esto sumamos los datos y dividimos para la cantidad de datos
                sumados:
                \[ { {{ res1 }} + {{ res2 }} + {{ res3 }} \over {{ 3 }} }= {{ res5 }} \]
                Y para el promedio cuatro:
                \[ { {{ res1 }} + {{ res2 }} + {{ res3 }} + {{ res4 }} \over {{ 4 }} }= {{ res6 }} \]
                Para sacar los errores simplemente restamos el valor actual de ese momento con el promedio sacado:
                \[ { {{ res3 }} \over {{ res5 }} }= {{ res7 }} \]
                Y para el error de promedio cuatro:
                \[ { {{ res4 }} \over {{ res6 }} }= {{ res8 }} \]
                Y así seguimos hasta llegar al valor que deseamos encontrar sea por un promedio o por el otro.
          
                {% endif %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4">
      <div class="tab-pane animated fadeInUp fade show">
        <div class="row">
          <div class="col-lg-6">
            <div class="living-option-one__content">
              {% if N != None %}
                <h3>Tabla de promedios</h3>
                {% for table in tables %}
                  {{ table|safe }}
                {% endfor %}
              {% endif %}
            </div>
          </div>
          <div class="col-lg-6">
            <div class="living-option-one__content">
              {% if N != None %}
                <h3>Gráfica comparativa de promedios</h3>
                <img src="{{ grafica }}" width="550">
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}