{% extends "layout2.html" %}

{% block content %}
<div class="container demo-1">
  <!-- Codrops top bar -->
  <div class="codrops-top clearfix">
    <span class="right"><a href="/static/ManualDeUsuario.pdf" target="_blank" ><strong>Manual de uso</strong></a></span>
  </div>
  <!--/ Codrops top bar -->
  <header class="clearfix">

    <h1 id="texthead"> Modelo de líneas de espera </h1>
    <div class="right">
      <div id="dl-menu" class="dl-menuwrapper">
        <button class="dl-trigger">Open Menu</button>
        <ul class="dl-menu">
          <li>
            <a href="#">Modelo de Inventario</a>
            <ul class="dl-submenu">
              <li>
                <a href="{{ url_for('modsim_api.inventario_EOQ') }}">Inventario EOQ</a>
              </li>
              <li>
                <a href="{{ url_for('modsim_api.inventario_general') }}">Tabla de inventario general</a>
              </li>
              <li>
                <a href="{{ url_for('modsim_api.inventario_empresa') }}">Tabla de inventario para caso real</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">Modelo de linea de espera</a>
            <ul class="dl-submenu">
              <li>
                <a href="{{ url_for('modsim_api.linea_espera') }}">Valores autogenerados</a>
              </li>
              <li>
                <a href="{{ url_for('modsim_api.linea_espera_aditivo') }}">Por congruencial aditivo</a>
              </li>
              <li>
                <a href="{{ url_for('modsim_api.linea_espera_multiplicativo') }}">Por congruencial multiplicativo</a>
              </li>
            </ul>
          </li>
        </ul>
      </div><!-- /dl-menuwrapper -->
    </div>
  </header>
  <div class="main clearfix">
    <form method=post action="">
      <div class="column">
        <table>
          {% for field in form %}
          <tr>
            <td>{{ field.label }}</td>
          </tr>
          <tr>
            <td>{{ field }}</td>
          </tr>
          {% endfor %}
          <td>
            <input type=submit value=Calcular>
    </form>
    <form method="get" action="{{ url_for('index5') }}">
      <button type="submit">Regresar</button>
    </form>
    </td>
    </table>

  </div>
  <div class="column">
    <p>
      El objetivo es encontrar el estado óptimo del sistema y determinar una capacidad de servicio apropiada, Minimizar
      el tiempo de atención y servicio
      a los clientes o usuarios que llegan en un determinado tiempo. Cuenta con las siguientes relaciones matemáticas:
      \[ La \ probabilidad \ de \ hallar \ el \ sistema \ ocupado: \ p=\lambda/\mu \]
      \[ La \ probabilidad \ de \ que \ no \ haya \ unidades \ en \ el \ sistema: \ Po=1-\lambda/\mu \]
      \[ Promedio \ de \ unidades \ en \ la \ linea \ de \ espera: \ Lq=\lambda^2/(\mu-\lambda)\mu \]
      \[ Número \ esperado \ de \ clientes \ en \ el \ sistema: \ L=\lambda/\mu-\lambda \]
      \[ Tiempo \ de \ espera \ en \ cola: Wq=\lambda/\mu(\mu-\lambda) \]
      \[ El \ tiempo \ promedio \ que \ una \ unidad \ pasa \ en \ el \ sistema: \ W=1/(\mu-\lambda) \]
      \[ La \ probabilidad \ de \ que \ haya \ n \ unidades \ en \ el \ sistema: \ Pn=(\lambda/\mu)^n Po \]
      \[\]
      {% if D != None %}
      Para los datos ingresados los resultados serían los siguientes:
      \[ La \ probabilidad \ de \ hallar \ el \ sistema \ ocupado: \ {{dato2}} \]
      \[ La \ probabilidad \ de \ que \ no \ haya \ unidades \ en \ el \ sistema: \ {{dato3}} \]
      \[ Promedio \ de \ unidades \ en \ la \ linea \ de \ espera: \ {{dato4}} \]
      \[ Número \ esperado \ de \ clientes \ en \ el \ sistema: \ {{dato5}} \]
      \[ Tiempo \ de \ espera \ en \ cola: {{dato7}} \]
      \[ El \ tiempo \ promedio \ que \ una \ unidad \ pasa \ en \ el \ sistema: \ {{dato6}} \]
      \[ La \ probabilidad \ de \ que \ haya \ n \ unidades \ en \ el \ sistema: \ {{dato8}} \]
      {% endif %}
    </p>
  </div>
</div>
<div>
  <div>

    {% if D != None %}
    <h2> Tabla de resultados </h2>
    {% for table in tables %}
    {{ table|safe }}
    {% endfor %}


    {% endif %}
  </div>
  <div>
    {% if D != None %}

    <h2> Gráfico de valores </h2>

    <img src="{{ grafica }}" width="700">

    {% endif %}
  </div>
  <div class="centered">
    {% if D != None %}
    <h2> Tabla de valores acumulados </h2>
    {% for table in tables2 %}
    {{ table|safe }}
    {% endfor %}
    {% endif %}
  </div>
  <div></div>

</div>
</div><!-- /container -->

<style>
  img {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
</style>
{% endblock %}