{% extends "layout.html" %}

{% block content %}

<section class="page-header" style="background-image: url(/static/assets/images/background/regresion-bg.jpg);">
	<div class="container">
		<h2>Métodos de Regresión</h2>
	</div><!-- /.container -->
</section><!-- /.page-header -->

<section class="career-one">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="career-one__block">
					<div class="block-title">
						<h3>Métodos de Regresión</h3>
					</div><!-- /.block-title -->
					<p>El análisis de regresión es una técnica para investigar y modelar la relación entre variables. 
						Aplicaciones de regresión son numerosas y ocurren en casi todos los campos, incluyendo ingeniería, 
						la física, ciencias económicas, ciencias biológicas y de la salud, como también ciencias sociales.</p>
				</div><!-- /.career-one__block -->
			</div><!-- /.col-lg-6 -->
			<div class="col-lg-6">
				<div class="sidebar">
					<div class="sidebar__single sidebar__category">
						<h3 class="sidebar__title">Métodos</h3><!-- /.sidebar__title -->
						<ul class="sidebar__cat-list">
							<li><a href="{{ url_for('metreg_api.regresion_lineal') }}">Lineal</a></li>
							<li><a href="{{ url_for('metreg_api.regresion_no_lineal') }}">No Lineal</a></li>
						</ul><!-- /.sidebar__cat-list -->
					</div><!-- /.sidebar__single -->
				</div>
			</div><!-- /.col-lg-6 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.career-one -->
{% endblock %}