{% extends "layout.html" %}

{% block content %}
		<div class="container demo-4">	
			<!-- Codrops top bar -->
			<div class="codrops-top clearfix">

				<span class="right"><a href="/static/ManualDeUsuario.pdf"  target="_blank"><strong>Manual de uso</strong></a></span>
			</div><!--/ Codrops top bar -->
			<header class="clearfix">
				<h1>Técnicas de simulación <span>Un lugar para realizar tus cálculos</span></h1>	
				<nav class="codrops-demos">
					<a href="/">Métodos Randoms</a>
					<a href="{{ url_for('index2') }}">Métodos Probabilísticos</a>
					<a href="{{ url_for('index3') }}">Métodos Regresión</a>
					<a class="current-demo" href="{{ url_for('index4') }}">Métodos Simulación</a>
					<a href="{{ url_for('index5') }}">Modelos de simulación</a>
				</nav>
            </header>
			<div class="main clearfix">
				<div class="column">
					<h1>Métodos de Simulación</h1>
					<p>La simulación es el producto de: El estudio del Sistema, la Modelación de los componentes del sistema, la utilización de Técnicas y herramientas
						estadísticas, números aleatorios y pronósticos para obtener un completo informe de resultados junto con la utilización de un
						Lenguaje de programación que nos permita realizar el análisis de datos. Esta es una valiosa herramienta que puede para una amplia variedad de
						 problemas prácticos de la via real.</p>
				</div>
				<div class="column">
					<div id="dl-menu" class="dl-menuwrapper">
						<button class="dl-trigger">Open Menu</button>
						<ul class="dl-menu">
							<li>
								<a href="#">Método Monte Carlo</a>
								<ul class="dl-submenu">
									<li>
										<a href="{{ url_for('metsim_api.montecarlo_aditivo') }}">Por congruencial aditivo</a>
									</li>
									<li>
										<a href="{{ url_for('metsim_api.montecarlo_multiplicativo') }}">Por congruencial multiplicativo</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#">Método de la transformada inversa</a>
								<ul class="dl-submenu">
									<li><a href="{{ url_for('metsim_api.transformada_inversa_aditivo') }}">Por congruencial aditivo</a></li>
									<li><a href="{{ url_for('metsim_api.transformada_inversa_multiplicativo') }}">Por congruencial multiplicativo</a></li>
								</ul>
							</li>
						</ul>
					</div><!-- /dl-menuwrapper -->
				</div>
			</div>
		</div><!-- /container -->

{% endblock %}