{% extends "layout.html" %}

{% block content %}

<section class="page-header" style="background-image: url(/static/assets/images/background/modele-sim-bg.jpg);">
	<div class="container">
		<h2>Modelos de simulación</h2>
	</div><!-- /.container -->
</section><!-- /.page-header -->

<section class="career-one">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="career-one__block">
					<div class="block-title">
						<h3>Modelos de simulación</h3>
					</div><!-- /.block-title -->
					<p> Se trata de permitir predecir, comparar y optimizar el comportamiento de sus procesos simulados
						en un tiempo muy breve sin el coste ni el riesgo de llevarlos a cabo, haciendo posible la representación
						de los procesos, recursos, productos y servicios en un modelo dinámico. Por lo general estos están enfocados más a los 
						procesos realizados por las empresas. </p>
				</div><!-- /.career-one__block -->
			</div><!-- /.col-lg-6 -->
			<div class="col-lg-6">
				<div class="sidebar">
					<div class="sidebar__single sidebar__category">
						<h3 class="sidebar__title">Modelos</h3><!-- /.sidebar__title -->
						<ul class="sidebar__cat-list">
							<li>
								<p>Modelos de inventario</p>
							</li>
							<li><a href="{{ url_for('modelo_simulacion_api.inventario_EOQ') }}">Modelo EOQ</a></li>
							<li><a href="{{ url_for('modelo_simulacion_api.inventario_general') }}">Simulación del inventario</a></li>
							<li>
								<p>Modelo de linea de espera</p>
							</li>
							<li><a href="{{ url_for('modelo_simulacion_api.linea_espera') }}">Valores autogenerados</a></li>
							<li><a href="{{ url_for('modelo_simulacion_api.linea_espera_aditivo') }}">Por congruencial lineal</a></li>
							<li><a href="{{ url_for('modelo_simulacion_api.linea_espera_multiplicativo') }}">Por congruencial multiplicativo</a></li>
						</ul><!-- /.sidebar__cat-list -->
					</div><!-- /.sidebar__single -->
				</div>
			</div><!-- /.col-lg-6 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.career-one -->
{% endblock %}