{% extends "layout.html" %}

{% block content %}

<section class="page-header" style="background-image: url(/static/assets/images/background/probabilistico-bg.jpg);">
	<div class="container">
		<h2>Métodos Pronóstico</h2>
	</div><!-- /.container -->
</section><!-- /.page-header -->

<section class="career-one">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="career-one__block">
					<div class="block-title">
						<h3>Métodos Pronóstico</h3>
					</div><!-- /.block-title -->
					<p>La mayoría de la actividades en los diferentes empresas públicas y privadas necesitan información futura, esto es la predicción del comportamiento de los datos
						en series de tiempo, ya que mucha de la información tiene variación estacional o cíclica de la tendencia donde los modelos de pronóstico nos permite hallar el
						valor esperado de acuerdo al comportamiento de los datos y permita a quien toma las decisiones poder realizar cambios en el comportamiento de los sistemas.</p>
				</div><!-- /.career-one__block -->
			</div><!-- /.col-lg-6 -->
			<div class="col-lg-6">
				<div class="sidebar">
					<div class="sidebar__single sidebar__category">
						<h3 class="sidebar__title">Métodos</h3><!-- /.sidebar__title -->
						<ul class="sidebar__cat-list">
							<li><a href="{{ url_for('metprob_api.promedio_movil') }}">Promedio Móvil</a></li>
							<li><a href="{{ url_for('metprob_api.alisamiento_exponencial') }}">Alisamiento Exponencial</a></li>
						</ul><!-- /.sidebar__cat-list -->
					</div><!-- /.sidebar__single -->
				</div>
			</div><!-- /.col-lg-6 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.career-one -->
{% endblock %}