<!DOCTYPE html>
<html lang="en" class="no-js">
<style>
	h2 {
		text-align: center;
	}

	table {
		margin: 0 auto;
		/* or margin: 0 auto 0 auto */
	}
</style>

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Técnicas de simulación</title>
	<meta name="author" content="Codrops" />
	<link rel="shortcut icon" href="../favicon.ico">

	<link rel="stylesheet" type="text/css" href="/static/css/default.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/component.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/solvers.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/df_style.css" />
	<script src="/static/js/modernizr.custom.js"></script>

</head>

<body>

	<div class="page-wrapper">
		{% extends "layout.html" %}
		{% block content %}
		{% endblock %}
	</div>

</body>
</html>