{% extends "layout.html" %}

{% block content %}

<section class="page-header" style="background-image: url(/static/assets/images/background/simulacion-bg.jpeg);">
	<div class="container">
		<h2>Métodos de Simulación</h2>
	</div><!-- /.container -->
</section><!-- /.page-header -->

<section class="career-one">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="career-one__block">
					<div class="block-title">
						<h3>Métodos de Simulación</h3>
					</div><!-- /.block-title -->
					<p>La simulación es el producto de: El estudio del Sistema, la Modelación de los componentes del sistema, la utilización de Técnicas y herramientas
						estadísticas, números aleatorios y pronósticos para obtener un completo informe de resultados junto con la utilización de un
						Lenguaje de programación que nos permita realizar el análisis de datos. Esta es una valiosa herramienta que puede para una amplia variedad de
						 problemas prácticos de la via real.</p>
				</div><!-- /.career-one__block -->
			</div><!-- /.col-lg-6 -->
			<div class="col-lg-6">
				<div class="sidebar">
					<div class="sidebar__single sidebar__category">
						<h3 class="sidebar__title">Métodos</h3><!-- /.sidebar__title -->
						<ul class="sidebar__cat-list">
							<li>
								<p>Método Monte Carlo</p>
							</li>
							<li><a href="{{ url_for('metodo_simulacion_api.montecarlo_aditivo') }}">Por congruencial lineal</a></li>
							<li><a href="{{ url_for('metodo_simulacion_api.montecarlo_multiplicativo') }}">Por congruencial multiplicativo</a></li>
							<li>
								<p>Método de la transformada inversa</p>
							</li>
							<li><a href="{{ url_for('metodo_simulacion_api.transformada_inversa_aditivo') }}">Por congruencial lineal</a></li>
							<li><a href="{{ url_for('metodo_simulacion_api.transformada_inversa_multiplicativo') }}">Por congruencial multiplicativo</a></li>
						</ul><!-- /.sidebar__cat-list -->
					</div><!-- /.sidebar__single -->
				</div>
			</div><!-- /.col-lg-6 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.career-one -->
{% endblock %}